* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    font-size: 40px;
    background-color: #ff0000;
    color: #ffffff;
    margin-top: 100px;
}

